.topics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.topics-container h1{
    font-size: 3rem;
}

.letters-container{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 220, 241);
    color: black;
    border: solid 1px rgb(217, 220, 241);
    border-radius: 15px;
    box-shadow: 0 3px 25px rgba(153, 155, 168, 0.4);
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}


.letter h1 {
    font-size: 4rem;
}

.hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.6rem;
}

.hint p{
    color: #B788F3;
    cursor: pointer;
}