.topics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.topics-container h1{
    font-size: 3rem;
}

.letters-container {
    display: flex;
    font-size: 5rem;
    column-gap: 50px;
}
